body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: brown;
}

.image-container {
    text-align: center;
}

.image-container img {
    margin: 20px;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    background-color: lightgray;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
}

.btn {
    color: white;
    background-color: slateblue;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    cursor: pointer;
    transition: opacity .3s ease;
    margin: 20px;
}

.btn:hover {
    opacity: 0.8;
}